{% extends 'post/index.html' %}


{% block content_post %}

<h3> Detalle del Post </h3>

<div class="card mb-3" style="max-width: 100%; padding: 0">
    <div class="row g-0">
      <div class="col-md-5" style="display: flex">
        <img
        {% if post.image%}
                src="{{post.image.url}}"
                {% else %}
                src="https://media.istockphoto.com/id/621109162/es/foto/close-up-concepto-de-tarjeta-de-felicitaci%C3%B3n-del-tesoro-de-pecho-vintage-abierto.jpg?s=612x612&w=0&k=20&c=dtILFNpuBp4AxBDxaYVcGOg1sWLd2p3DHRqdmSWyHtw="
            {% endif %}
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-7">
        <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
            <div>
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.content}}</p>
                <p class="card-text"><span style="text-decoration: underline;">Autor:</span> {{post.author.username}}</p>
                <p class="card-text"><span style="text-decoration: underline;">Ultima modificación:</span> {{post.last_actualization}}</p>
                <p class="card-text">
                  <small class="text-muted">¿Querés saber más? Contactate!</small>
                </p>
            </div>
            {% if user.is_staff %}
            <div style="text-align: end;">
                <a href="{% url 'post:post_update' post.id %}" class="btn btn-primary">Actualizar</a>
                <a href="{% url 'post:post_delete' post.id %}" class="btn btn-danger">Eliminar</a>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  
    <div class="d-grid gap-3" style="margin: 1rem;">
        {% include 'post/index_back.html' %}
    </div>
    <div class="d-grid gap-3" style="margin: 1rem;">
        <a href="{% url 'post:post_list' %}" class="btn btn-info">Volver a la <strong> lista de posts</strong></a>
    </div>

{% endblock content_post %}